<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="utf-8">
	<title></title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/detilereset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/mobile/css/detilemystyle.css">
</head>
<body>
<div class="wrapper">
    <div class="header">

        <h4>笑脸详情</h4>

    </div>


    <div class="popup">
        <div class="popup_face">
            <div class="img_container">
                <img class="detail_img" src="__PUBLIC__/images/{$img}">
            </div>
<!--             <div class="detail_wrapper">
                <img src="__PUBLIC__/mobile/images/heart.png"> <p class="popup_zan">{$praise_count}</p>
                <img src="__PUBLIC__/mobile/images/review.png"> <p class="popup_review">{$comment_count}</p>
            </div> -->

        </div>

        <div class="popup_list">
       	    <volist name="list" id="vo">
	            <div class="review_list">
	
	                <img src="__PUBLIC__/mobile/images/user_img.png">
	                <div class="speaker_wrapper">
	                    <p class="speaker"><span class="username">{$vo.stu_name}</span>评论</p>
	                    <span class="speak_time">{$vo.com_addtime|date="n月j日",###}</span>
	                    <p class="speak_content">{$vo.com_content}</p>
	                </div>
	
	            </div>
            </volist>
        </div>

        <div class="popup_box">
            <div class="text_wrapper">
                <textarea class="popup_comment"  placeholder="点此发表评论"></textarea>
                <a href="javascript:void(0)" class="button" onclick="sendComment({$com_pid})">评论</a>
            </div>
        </div>
        
    </div>
</div>
</body>

<script src="__PUBLIC__/mobile/js/fastclick.js"></script>
<script src="__PUBLIC__/mobile/js/zepto.min.js"></script>
<script src="__PUBLIC__/mobile/js/function.js"></script>
<script src="__PUBLIC__/mobile/js/detail.js"></script>
<script type="text/javascript">
	var headImg = "__PUBLIC__/mobile/images/";
	var detailAjax = "__CONTROLLER__/sendComment";
	var indexUrl = "__MODULE__/index";
</script>
</html>