<extend name="Public:index" />
<block name="right_detile">
	<div class="info">
		<div class="title">
			产品团队
		</div>
		<div class="infobox">
			<table>
				<tbody>
					<tr><th>管理规划部</th><td>朱鑫 孙周阳</td></tr>
					<tr><th>视觉设计部</th><td>龚琴淋 王依宁</td></tr>
					<tr><th>Web研发部</th><td>刘晨凌 陈沁宇 刘慧芝</td></tr>
					<tr><th>Web研发部</th><td>何少康 陈唯 张兴哲 舒云</td></tr>
					<tr><th>运营维护部</th><td>王博饶 刘爽</td></tr>
					<tr><th>官方网站</th><td><a href="http://hongyan.cqupt.edu.cn/">http://hongyan.cqupt.edu.cn/</a></td></tr>
					<tr><th>BUG反馈</th><td>465049812@qq.com</td></tr>
				</tbody>
			</table>
		</div>
	</div>
</block>